<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Priya's SpringBoot Application</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body class="container">
	<h1>Welcome to Priya's SpringBoot Application</h1>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Swagger Documentation:</div>
	  <div class="panel-body"><a href="swagger-ui.html">Click here</a></div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Application Info: </div>
	  <div class="panel-body"><a href="actuator/info">Click here</a></div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Application Health: </div>
	  <div class="panel-body"><a href="actuator/health">Click here</a></div>
	</div>
	
</body>

</html>